* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* border: solid 1px orange;      */
}

body {
  font-family: 'Arimo', sans-serif;
}

body a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
}

body main {
  margin-top: 50px;
}

/*header*/
nav {
  border-bottom: solid 1px #302e2e;
  background-color: white;
  position: fixed;
  z-index: 1;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

nav a {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 0 0 10px;
  text-decoration: none;
}

nav a img {
  padding-top: 5px;
  display: inline-block;
  width: 140px;
}

nav ul {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 20px 0 0;
}

nav ul li {
  margin: 0 5px 0 0;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
}

nav .fa-bars {
  display: none;
  margin-right: 13px;
}

/*media querie para header responsive*/
@media (max-width: 600px) {
  nav {
    top: 0;
    /*agrego clase nueva en css para usar en js, es el toggle*/
  }
  nav ul {
    background-color: white;
    border-bottom: solid 1px #302e2e;
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100vh - 50px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -250%;
    -webkit-transition: margin-top 0.5s;
    transition: margin-top 0.5s;
    z-index: -1;
  }
  nav li {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: inline-block;
    width: 100%;
    padding-left: 15px;
  }
  nav li a {
    display: block;
  }
  nav li a:hover {
    color: red;
    padding-left: 30px;
    -webkit-transition: .6s;
    transition: .6s;
  }
  nav .fa-bars {
    text-align: center;
    width: 20px;
    height: 20px;
    display: block;
  }
  nav .showMenu {
    margin-top: 0;
  }
}

/*main*/
main {
  position: relative;
  z-index: -2;
  padding: 10px;
}

main section {
  margin: 10px;
  text-align: center;
  height: 70vh;
}

/*footer*/
footer {
  position: relative;
  z-index: -2;
  height: 180vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer div ul li {
  list-style: none;
}
/*# sourceMappingURL=estilo.css.map */