*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* border: solid 1px black; */
}

/*header*/
nav{
  padding: 0 5% 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: lightgrey;
  a{
    margin: 0 0 0 20px;
    text-decoration: none;
  }
  ul{
    display: flex;
    flex-flow: row nowrap;
    margin: 0 20px 0 0;
    li{
      margin: 0 5px 0 0;
      list-style: none;
      a{
        text-decoration: none;
      }
    }
  }
  .fa-bars{
    display: none;
  }
}
/*media querie para header responsive*/
@media (max-width: 600px) {
  nav{
    ul{
      background-color: grey;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      height: calc(100vh - 50px);
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      margin-top: -200%;
      transition: margin-top 0.5s;
      z-index: -1;
    }
    li{
      height: fit-content;
    }
      .fa-bars{
        text-align: center;
        width: 20px;
        height: 20px;
        display: block;
      }
    /*agrego clase nueva en css para usar en js, es el toggle*/
    .showMenu{
      margin-top: 0;
    }
  }
}

/*main*/
main{
  position: relative;
  z-index: -2;

  background-color: lightsalmon;
  padding: 10px;
  section{
    margin: 10px;
    text-align: center;
    height: 20vh;
    background-color: lightgray;
  }
}

/*footer*/
footer{
  position: relative;
  z-index: -2;
  
  height: 180px;
  background-color: lightgrey;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  div{
    ul{
      li{
        list-style: none;
      }
    }
  }
}
